*.o
*.log
*.root
*.swp
feMove
feMotor
fePhidget
fedvm
testVI
*debugme
*.alt
*.csv
*.exe
*.png
*.PNG
*.jpg
*.JPG
*.gif
*.GIF
*.eps
*.EPS
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.pdf
*.toc
*.ilg
*.ind
*~
.idea/*
.DS_Store
*.dSYM
.vscode
